[submodule "PunishLib"]
	path = PunishLib
	url = https://github.com/ffxiv-tc-port/PunishLib.git
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/ffxiv-tc-port/ECommons.git
[submodule "AutoRetainerAPI"]
	path = AutoRetainerAPI
	url = https://github.com/ffxiv-tc-port/AutoRetainerAPI.git
[submodule "NightmareUI"]
	path = NightmareUI
	url = https://github.com/ffxiv-tc-port/NightmareUI.git
[submodule "NightmareUI.OtterGuiWrapper"]
	path = NightmareUI.OtterGuiWrapper
	url = https://github.com/ffxiv-tc-port/NightmareUI.OtterGuiWrapper.git
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/ffxiv-tc-port/OtterGui.git
[submodule "ECommons.FileWriter"]
	path = ECommons.FileWriter
	url = https://github.com/ffxiv-tc-port/ECommons.FileWriter.git
[submodule "FFXIVClientStructs"]
	path = FFXIVClientStructs
	url = https://github.com/ffxiv-tc-port/FFXIVClientStructs.git
[submodule "ECommons.IPC"]
	path = ECommons.IPC
	url = https://github.com/ffxiv-tc-port/ECommons.IPC.git
	branch = tc-api13
